.subscribe {
    width: 30%;
    height: 100%;
  }
  
.btn-subscrib {
    text-align: center;
}

.box-size {
    width: 100%;
}

.box-size2 {
    width: 95%;
}

.box-show {
    padding-left: 15px;
}

.border{
  position: relative;
  width: 100%;
  height: 300px;
  border: 1px solid black;
  margin: 0 auto;
}

.index-img{
  object-fit: cover;
  position: absolute;
  width: 100%;
  height: 100%;
}

.show-border{
  position: relative;
  width: 100%;
  height: 500px;
  border: 1px solid black;
  margin: 0 auto;
}

.show-img{
  object-fit: cover;
  position: absolute;
}

.search-btn-primary {
  color: #fff;
  background-color: #3490dc;
  border-color: #3490dc;
  width: 120%;
}

.bg-img {
  background-image: url(images/背景用画像.JPG);
}

.text-red {
  color: #FFF !important;
}

.text-bold {
  font-weight: bold;
}

.text-shadow {
  text-shadow:
    3px 3px 0px #000, -3px -3px 0px #000,
    0px 3px 0px #000,  0px -3px 0px #000;
}

.header-text {
  font-size: 5.0rem;
  font-weight: 300;
  line-height: 1.2;
}

.header-text-min {
  font-size: 2.0rem;
  font-weight: 300;
}

.text-box {
  width: 100%;
  background-color: rgba(128,128,128,0.5);
}