.subscribe {
    width: 30%;
    height: 100%;
  }
  
.btn-subscrib {
    text-align: center;
}

.box-size {
    width: 100%;
}

.box-size2 {
    width: 95%;
}

.box-show {
    padding-left: 15px;
}

.border{
  position: relative;
  width: 100%;
  height: 300px;
  border: 1px solid black;
  margin: 0 auto;
}

.index-img{
  object-fit: cover;
  position: absolute;
  width: 100%;
  height: 100%;
}

.show-border{
  position: relative;
  width: 100%;
  height: 500px;
  border: 1px solid black;
  margin: 0 auto;
}

.show-img{
  object-fit: cover;
  position: absolute;
}

.search-btn-primary {
  color: #fff;
  background-color: #3490dc;
  border-color: #3490dc;
  width: 120%;
}